# Ignore target folder
/target/
*.class
*.jar
*.war

# Ignore IDE files
/.idea/
/.vscode/
/.metadata/
/bin/
/build/
/out/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore node_modules (if you add React later)
/node_modules/
